[package]
name = "geozero"
version = "0.9.6"
authors = ["Pirmin Kalberer <pka@sourcepole.ch>"]
edition = "2018"
description = "Zero-Copy reading and writing of geospatial data."
homepage = "https://github.com/georust/geozero"
repository = "https://github.com/georust/geozero"
readme = "../README.md"
license = "MIT/Apache-2.0"
keywords = ["geo", "geojson", "gdal", "geos", "postgis"]

[features]
default = ["with-svg", "with-wkt", "with-geo", "with-geojson"]
with-arrow = ["arrow2"]
with-csv = ["csv", "with-wkt"]
with-svg = []
with-wkt = ["wkt"]
with-geo = ["geo-types"]
with-geojson = ["geojson"]
with-gdal = ["gdal", "gdal-sys"]
with-geos = ["geos"]
with-wkb = ["scroll", "with-wkt"]
with-gpkg = ["with-wkb", "sqlx/sqlite"]
with-gpx = ["gpx"]
with-postgis-sqlx = ["with-wkb", "sqlx/postgres"]
with-postgis-postgres = ["with-wkb", "postgres-types", "bytes"]
with-mvt = ["prost", "prost-build"]
with-tessellator = ["lyon"]

[dependencies]
csv = { version = "1.1.6", optional = true }
thiserror = "1.0"
geojson = { version = "0.24.0", optional = true }
serde_json = "1.0.79"
geo-types = { version = "0.7", default-features = false, optional = true }
geos = { version = "8.0", optional = true }
gdal = { version = "0.13", default-features = false, optional = true }
gdal-sys = { version = "0.7", optional = true }
gpx = { version = "0.8", default-features = false, optional = true }
lyon = { version = "1.0", optional = true }
log = "0.4.17"
scroll = { version = "0.11", optional = true }
sqlx = { version = "0.6", default-features = false, optional = true }
postgres-types = { version = "0.2", optional = true }
bytes = { version = "1.0", optional = true }
prost = { version = "0.11.0", optional = true }
wkt = { version = "0.10.0", optional = true }
arrow2 = { version = "0.14", optional = true, features = ["io_ipc"]}

[dev-dependencies]
seek_bufread = "1.2"
hex = "0.4"
geo = "0.23"
wkt = "0.10.0"
kdbush = "0.2"
polylabel = "2.4"
flatgeobuf = "3.24.0"
#flatgeobuf = { git = "https://github.com/pka/flatgeobuf", branch="geozero-0.9" }
postgres = "0.19"
sqlx = { version = "0.6", default-features = false, features = [ "runtime-tokio-native-tls", "macros", "time", "postgres", "sqlite" ] }
tokio = { version = "1.17.0", default-features = false, features = ["macros"] }

[build-dependencies]
prost-build = { version = "0.11", optional = true }

[package.metadata.docs.rs]
all-features = true
rustc-args = ["--cfg", "docsrs"]

[[test]]
name = "gdal"
path = "tests/gdal.rs"
required-features = ["with-gdal"]

[[test]]
name = "geojson"
path = "tests/geojson.rs"
required-features = ["with-geojson"]

[[test]]
name = "geopackage"
path = "tests/geopackage.rs"
required-features = ["with-gpkg", "with-wkt", "with-geo"]

[[test]]
name = "geos"
path = "tests/geos.rs"
required-features = ["with-geos"]

[[test]]
name = "geo_types"
path = "tests/geo_types.rs"
required-features = ["with-geo", "with-geojson"]

[[test]]
name = "geozero-api"
path = "tests/geozero-api.rs"
required-features = []

[[test]]
name = "kdbush"
path = "tests/kdbush.rs"
required-features = ["with-geojson"]

[[test]]
name = "polylabel"
path = "tests/polylabel.rs"
required-features = ["with-geo"]

[[test]]
name = "postgis"
path = "tests/postgis.rs"
required-features = ["with-wkb", "with-wkt", "with-geo"]

[[test]]
name = "gpx"
path = "tests/gpx.rs"
required-features = ["with-gpx", "with-wkt", "with-geojson"]

[[test]]
name = "svg"
path = "tests/svg.rs"
required-features = ["with-svg"]
